<section class="wrapper">
  <h2 class="subjects__list-text">Add new subject:</h2>
  <form class="subject__form" [formGroup]="subjectForm" (submit)="onSubmit()">
    <table class="subject__form-table" cellspacing="0">
      <tr>
        <td [class.class__invalid]="isControlInvalid('nameSubject')">
          * Name:
        </td>
        <td>
          <mat-form-field class="subject__form-table-cell">
            <input
              matInput
              type="text"
              autocomplete="off"
              [placeholder]="
                isControlInvalid('nameSubject')
                  ? 'Enter subject name'
                  : 'Mathematics'
              "
              id="nameSubject"
              formControlName="nameSubject"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td [class.class__invalid]="isControlInvalid('teacher')">
          * Teacher:
        </td>
        <td>
          <mat-form-field class="subject__form-table-cell">
            <input
              matInput
              type="text"
              autocomplete="off"
              [placeholder]="
                isControlInvalid('teacher')
                  ? 'Enter theacher name'
                  : 'M. Ivanovna'
              "
              id="teacher"
              formControlName="teacher"
            />
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>Cabiner:</td>
        <td>
          <mat-form-field class="subject__form-table-cell">
            <input
              matInput
              type="number"
              autocomplete="off"
              [placeholder]="
                isControlInvalid('cabiner') ? 'Enter number' : '106'
              "
              id="cabiner"
              formControlName="cabiner"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>Description:</td>
        <td>
          <mat-form-field class="subject__form-table-cell">
            <textarea
              matInput
              type="text"
              autocomplete="off"
              placeholder="Blow your mind..."
              id="description"
              formControlName="description"
            ></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <div class="subject__form-buttons">
      <button
        class="subject__form-buttons-item"
        mat-stroked-button
        type="submit"
      >
        Add
      </button>
      <button
        class="subject__form-buttons-item"
        mat-stroked-button
        type="button"
        (click)="onCancel()"
      >
        Back
      </button>
    </div>
  </form>
</section>
