@import "../../../../styles/variables.scss";

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: $text-color;

  border-color: $text-color;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $text-color;
}

::ng-deep .mat-input-element {
  caret-color: $text-color;
}

.wrapper {
  margin: 0 auto 3rem;
  margin: 0 90px;

  font-size: 1.5rem;
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;

  .subjects__list-text {
    margin-top: 0;

    font-weight: 400;
    font-size: 2rem;
  }

  .subject__form {
    margin-bottom: 4rem;

    border: 0.3rem solid $grey;
    border-radius: 1.5rem;

    .subject__form-table {
      width: 80%;
      margin: 20px auto;
      .subject__form-table-cell {
        width: 90%;
      }
      td {
        padding-right: 8px;
      }
    }
  }

  .subject__form-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    &-item {
      width: 20%;
      margin: 0 2%;
      padding: 1%;

      font-size: 1.5rem;
      color: $active-color;

      background-color: $grey;
    }
  }
}
