@import "../../../../styles/variables.scss";

.notification-container {
  position: absolute;

  .success {
    background: $gray;
    border-bottom: 5px solid $active-color;
    .notification__icon {
      background: $green;
      &:after {
        border-color: transparent transparent  $green
        transparent;
      }
    }
  }

  .warning {
    background: $gray;
    border-bottom: 5px solid $active-color;
    .notification__icon {
      background: $red;
      &:after {
        border-color: transparent transparent $red
        transparent;
      }
    }
  }

  .notification {
    position: fixed;
    top: 1rem;
    z-index: 10;
    width: 450px;
    height: 120px;
    margin: 10px 0px;
    transition: 0.15s ease all;
    display: block;
    border-radius: 7px;
    animation: 3s ease-in-out forwards float-in;
    &:hover {
      background: $gray;
      .notification__close {
        color: $text-color;
        &:hover {
          transform: scale(1.1);
          background: $gray-dark;
          .notification__close {
            color: $text-color;
            &:hover {
              transform: scale(1.1);
              background: $gray-dark;
            }
          }
        }
      }
    }
    .notification__icon {
      width: 120px;
      height: 120px;
      position: relative;
      float: left;
      display: block;
      &:after {
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        position: absolute;
        right: -15px;
        top: calc(50% - 5px);
        transform: rotate(90deg);
        line-height: 0px;
      }
      .icon {
        font-size: 75px;
        width: 100px;
        height: 100px;
        margin: 10px;
        text-align: center;
        line-height: 100px;
      }
    }
    .notification__message {
      color: $text-color;
      width: 290px;
      float: right;
      padding: 10px 20px;
      height: calc(100% - 20px);
      position: relative;
      display: block;
      .notification__message-heading {
        .notification__message-heading-text {
          display: inline-block;
          color: $text-color;
          line-height: 1em;
          font-size: 20px;
          h3 {
            font-size: 2rem;
            margin: 2px;
          }
        }
      }
    }
  }
  .notification__close {
    position: absolute;
    padding: 5px;
    right: 0px;
    top: 0px;
    cursor: pointer;
    transition: 0.25s linear all;
  }
  @keyframes float-in {
    0% {
      opacity: 0;
      transform: translateX(1200px);
    }
    30%,
    85% {
      opacity: 1;
      transform: translateX(500px);
    }
    100% {
      transform: translateX(1200px);
      opacity: 0;
    }
  }
}
