@import "../../../../styles/variables.scss";

.notification-container {
  position: absolute;

  .success {
    background: $grey;
    border-bottom: 5px solid $active-color;
    .notification__icon {
      background: $green;
      &:after {
        border-color: transparent transparent  $green
        transparent;
      }
    }
  }

  .warning {
    background: $grey;
    border-bottom: 5px solid $active-color;
    .notification__icon {
      background: $red;
      &:after {
        border-color: transparent transparent $red
        transparent;
      }
    }
  }

  .notification {
    position: fixed;
    top: 1rem;
    z-index: 10;

    display: block;
    width: 450px;
    height: 120px;
    margin: 10px 0;

    border-radius: 7px;

    transition: 0.15s ease all;
    animation: 3s ease-in-out forwards float-in;
    &:hover {
      background: $grey;
      .notification__close {
        color: $text-color;
        &:hover {
          background: $grey-dark;
          transform: scale(1.1);
          .notification__close {
            color: $text-color;
            &:hover {
              background: $grey-dark;
              transform: scale(1.1);
            }
          }
        }
      }
    }
    .notification__icon {
      position: relative;

      display: block;
      float: left;
      width: 120px;
      height: 120px;
      &:after {
        content: " ";
        position: absolute;
        top: calc(50% - 5px);
        right: -15px;

        width: 0;
        height: 0;

        line-height: 0;

        border-width: 0 10px 10px 10px;
        border-style: solid;
        transform: rotate(90deg);
      }
      .icon {
        width: 100px;
        height: 100px;
        margin: 10px;

        font-size: 75px;
        line-height: 100px;
        text-align: center;
      }
    }
    .notification__message {
      position: relative;

      display: block;
      float: right;
      width: 290px;
      height: calc(100% - 20px);
      padding: 10px 20px;

      color: $text-color;
      .notification__message-heading {
        .notification__message-heading-text {
          display: inline-block;

          font-size: 20px;
          line-height: 1em;
          color: $text-color;
          h3 {
            margin: 2px;

            font-size: 2rem;
          }
        }
      }
    }
  }
  .notification__close {
    position: absolute;
    top: 0;
    right: 0;

    padding: 5px;

    cursor: pointer;

    transition: 0.25s linear all;
  }
  @keyframes float-in {
    0% {
      transform: translateX(1200px);
      opacity: 0;
    }
    30%,
    85% {
      transform: translateX(500px);
      opacity: 1;
    }
    100% {
      transform: translateX(1200px);
      opacity: 0;
    }
  }
}
