@import "../../../../styles/variables.scss";

.notification-container {
  position: absolute;

  .success {
    background: $grey;
    border-bottom: 0.3125rem solid $active-color;
    .notification__icon {
      background: $green;
      &:after {
        border-color: transparent transparent $green transparent;
      }
    }
  }

  .warning {
    background: $grey;
    border-bottom: 0.3125rem solid $active-color;
    .notification__icon {
      background: $red;
      &:after {
        border-color: transparent transparent $red transparent;
      }
    }
  }

  .notification {
    position: fixed;
    top: 1rem;
    z-index: 10;

    display: block;
    width: 28rem;
    height: 7.5rem;
    margin: 0.625rem 0;

    border-radius: 0.4375rem;

    transition: 0.15s ease all;
    animation: 3s ease-in-out forwards float-in;
    &:hover {
      background: $grey;
      .notification__close {
        color: $white;
        &:hover {
          background: $grey-dark;
          transform: scale(1.1);
          .notification__close {
            color: $white;
            &:hover {
              background: $grey-dark;
              transform: scale(1.1);
            }
          }
        }
      }
    }
    .notification__icon {
      position: relative;

      display: block;
      float: left;
      width: 7.5rem;
      height: 7.5rem;
      &:after {
        content: " ";
        position: absolute;
        top: calc(50% - 0.3125rem);
        right: -0.9375rem;

        width: 0;
        height: 0;

        line-height: 0;

        border-width: 0 0.625rem 0.625rem 0.625rem;
        border-style: solid;
        transform: rotate(90deg);
      }
      .icon {
        width: 6.25rem;
        height: 6.25rem;
        margin: 0.625rem;

        font-size: 4.7rem;
        line-height: 6.25rem;
        text-align: center;
      }
    }
    .notification__message {
      position: absolute;
      left: 7.4rem;

      display: block;
      float: right;
      width: 18.125rem;
      height: calc(100% - 1.25rem);
      padding: 0.625rem 1.25rem;

      color: $white;
      .notification__message-heading {
        .notification__message-heading-text {
          display: inline-block;

          font-size: 1.25rem;
          line-height: 1rem;
          color: $white;
          h3 {
            margin: 0.125rem;

            font-size: 2rem;
          }
        }
      }
    }
  }
  .notification__close {
    position: absolute;
    top: 0;
    right: 0;

    padding: 0.3125rem;

    cursor: pointer;

    transition: 0.25s linear all;
  }
  @keyframes float-in {
    0% {
      transform: translateX(-75rem);
      opacity: 0;
    }
    30%,
    85% {
      transform: translateX(31.25rem);
      opacity: 0.9;
    }
    100% {
      transform: translateX(75rem);
      opacity: 0;
    }
  }
}
