<div class="notification-container">
  <div
    class="notification"
    [ngClass]="notification.success ? 'success' : 'warning'"
    *ngFor="let notification of notifications"
  >
    <div class="notification__icon">
      <i
        [ngClass]="
          notification.success
            ? 'far fa-check-circle icon'
            : 'fas fa-exclamation-circle icon'
        "
      ></i>
    </div>
    <div class="notification__message">
      <div class="notification__message-heading">
        <!-- <div class="headingIcon">
          <i class="far fa-check-circle"></i>
        </div> -->
        <div class="notification__message-heading-text">
          <h3>{{ notification.header }}</h3>
        </div>
      </div>
      <div class="notification__message-content">
        <p>{{ notification.description }}</p>
      </div>
    </div>
    <div class="notification__close" (click)="closeNotification(notification)">
      <i class="far fa-times-circle icon"></i>
    </div>
  </div>
</div>
