<section class="subjects">
  <section
    class="subjects__list"
    
  >
    <h2 class="subjects__list-text">
      List of subjects:
    </h2>
    <div class="subjects__list-buttons">
      <button
        scaleButton
        class="subjects__list-buttons-item"
        mat-raised-button
        *ngFor="let subject of subjects"
        routerLink="{{ subject.nameSubject }}"
        
      >
        {{ subject.nameSubject }}
      </button>
    </div>
    <button
      routerLink="form"
      class="subjects__list-add-new-item"
      mat-stroked-button="warn"
      
    >
      &#10010;
    </button>
  </section>
</section>
