<section class="wrapper">
  <notification></notification>
  <section
    class="subject__list"
    *ngIf="isVisibleSubjectList && !isVisibleSubjectPage"
  >
    <h2 class="subject__text">
      List of subjects:
    </h2>
    <div class="subject__buttons">
      <button
        class="subject__buttons__item"
        mat-raised-button
        *ngFor="let subject of subjects"
        (click)="onViewSubjectList($event)"
      >
        {{ subject.nameSubject }}
      </button>
    </div>
    <button
      class="button__add"
      mat-stroked-button="warn"
      (click)="onVisibleFormSubject()"
    >
      &#10010;
    </button>
  </section>
  <section
    class="subject__new"
    *ngIf="!isVisibleSubjectList && !isVisibleSubjectPage"
  >
    <app-subject-form (onVisibleForm)="addSubject($event)">
      <h2 class="subject__text">Add new subject:</h2></app-subject-form>
  </section>
  <section *ngIf="isVisibleSubjectPage">
    <app-subject-page [subjectName]="subjectName" (onVisiblePage)="isVisible($event)">
      <h2 class="subject__text marks">
        {{ subjectName }}
      </h2></app-subject-page>
  </section>
</section>
