<section class="subjects">
  <section
    class="subjects__list"
    
  >
    <h2 class="subjects__list-text">
      List of subjects:
    </h2>
    <div class="subjects__list-buttons">
      <button
        scaleButton
        class="subjects__list-buttons-item"
        mat-raised-button
        *ngFor="let subject of subjects"
        routerLink="{{ subject.nameSubject }}"
        
      >
        {{ subject.nameSubject }}
      </button>
    </div>
    <button
      routerLink="form"
      class="subjects__list-add-new-item"
      mat-stroked-button="warn"
      
    >
      &#10010;
    </button>
    <!-- <notification></notification> -->
  </section>
  <!-- <section *ngIf="!isVisibleSubjectList && !isVisibleSubjectPage">
    <app-subject-form (onVisibleForm)="addSubject($event)">
      <h2 class="subjects__list-text">Add new subject:</h2></app-subject-form
    >
  </section> -->
  <!-- <section> -->
    <!-- <app-subject-page
      [subjectName]="subjectName"
      [subjects]="subjects"
      (onVisiblePage)="isVisible($event)"
    >
      <!-- <h2 class="subjects__list-text marks">
        {{ subjectName }}
      </h2> -->
      <!-- </app-subject-page> -->
  <!-- </section> -->
</section>
