@import "../../../../styles/variables.scss";

.wrapper {

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $text-color;
    border-color: $text-color;
  }
  
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $text-color;
  }
  
  ::ng-deep .mat-input-element {
    caret-color: $text-color;
  }

  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  margin: 0 auto 3rem;

  .student__form {
    margin: 0 10%;
    border: 0.3rem solid grey;
    border-radius: 1.5rem;

    .student__form__table {
      margin: 20px auto;
      width: 80%;
    }
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .student__form__width {
    width: 90%;
  }

  td {
    padding-right: 8px;
  }

  .student__form__button {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    button {
      width: 20%;
      font-size: 1.5rem;
      padding: 1%;
      margin: 0 2%;
      background-color: gray;
      color: $active-color;
    }
  }
}
