@import "../../../../styles/variables.scss";

.wrapper {
  margin: 0 auto 3rem;

  font-family: $fond;

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $white;

    border-color: $white;
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $white;
  }

  ::ng-deep .mat-input-element {
    caret-color: $white;
  }

  .students__form-text {
    margin-top: 0;
    margin-left: 10%;

    font-weight: 400;
    font-size: 2rem;
  }

  .student__form {
    margin: 0 10%;

    border: 0.3rem solid $grey;
    border-radius: 1.5rem;

    .student__form-table {
      width: 80%;
      margin: 1.25rem auto;
      .student__form-table-cell {
        width: 90%;
      }
      td {
        padding-right: 0.5rem;
      }
    }
  }

  .student__form-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    .student__form-buttons-item {
      width: 20%;
      margin: 0 2%;
      padding: 1%;

      font-size: 1.5rem;
      color: $active-color;

      background-color: $grey;
    }
  }
}
