@import "../../../styles/variables.scss";

.wrapper {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    font-size: 1.5rem;
    .header__name {
      flex: 61%;
      margin: 0 0 2rem 0;

      font-weight: 500;
      font-size: 2.3rem;
    }

    .header__logo {
      flex: 9%;
      width: 5rem;
      height: 5.3rem;
      margin: 1.5rem 1.3rem 0 6.5rem;

      background: linear-gradient(-35deg, transparent 1.25rem, $active-color 0) right,
        linear-gradient(35deg, transparent 1.25rem, $active-color 0) left;
      background-repeat: no-repeat;
      background-size: 50% 100%;
    }

    div[contentEditable="true"]:empty:not(:focus):before {
      content: attr(data-text);
    }

    .header__language {
      display: flex;
      flex: 31%;
      justify-content: flex-end;
      align-items: center;
      margin-right: 8.3rem;
      margin-bottom: 2.6rem;

      font-size: 1.2rem;
      text-align: right;
      &-select {
        width: 2.9rem;
        height: 1.5rem;
        margin-left: 0.625rem;

        font-weight: 600;
        font-size: 1rem;
        color: $active-color;

        background-color: $grey;
        border-radius: 0.25rem;
      }
    }
  }
}

.navigation {
  display: flex;
  justify-content: center;
  height: 9.3rem;

  font-size: 1.5rem;
}

.navigation__item {
  margin: 3rem 0.5rem;
  padding: 0.4rem 1.7rem 0.7rem;

  font-size: 2rem;
  text-align: center;
  color: $white;
  text-decoration: none;

  background-color: $grey;
  border-radius: 0.625rem;
  &.active {
    margin-top: 3.1rem;
    margin-bottom: 2.9rem;

    background-color: $button-active-bg;
  }
}

.navigation__item-active {
  color: $active-color;
  text-decoration: none;
  .active {
    margin-top: 3.1rem;
    margin-bottom: 2.9rem;

    background-color: $button-active-bg;
  }
}
