@import "../../../../styles/variables.scss";

.wrapper {
  margin: 0 auto 3rem;

  font-family: $fond;

  .statistics {
    margin: 0;

    border: 0.3rem solid $grey;
    border-radius: 1.5rem;
    .statistics__info {
      display: flex;
      justify-content: center;
      .statistics-description {
        flex: 1;
        height: 36rem;
      }
      .statistics-control {
        flex: 1;

        border-right: 0.3rem solid $grey;
        .statistics-control__navigation {
          display: flex;
          justify-content: center;

          font-size: 1.5rem;
          &-item {
            flex: 1;
            padding: 0.4rem 1.7rem 0.7rem;

            font-size: 2rem;
            text-align: center;
            color: $white;
            text-decoration: none;

            border-bottom: 0.3rem solid $grey;
            &:first-child {
              border-right: 0.3rem solid $grey;
              border-top-left-radius: 1.1rem;
            }
            &.active {
              padding: 0.4rem 1.7rem 0.6rem;

              font-size: 2.01rem;

              background-color: rgb(24, 24, 24);
            }
            &-active {
              color: $active-color;
              text-decoration: none;

              background-color: rgb(88, 88, 88);
              &.active {
                padding: 0.4rem 1.7rem 0.6rem;

                font-size: 2.01rem;

                background-color: $scrollbar-thumb;
              }
            }
          }
        }

        .statistics-control__list-students {
          flex: 1;
          width: 99%;
          height: 32rem;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            width: 1rem;
            height: 1rem;
          }

          & ::-webkit-scrollbar-button {
            display: none;
          }

          &::-webkit-scrollbar-track {
            width: 3.125‬rem;
            height: 3.125‬rem;
          }

          &::-webkit-scrollbar-thumb {
            height: 0.75rem;

            background-color: $scrollbar-thumb;
            border: 3px solid $black;
          }

          &::-webkit-scrollbar-corner {
            display: none;
          }
        }
      }
    }
  }
}
