@import "./variables.scss";

html {
  background-color: #808080;
}

body {
  .cdk-overlay-container {
    top: 30%;
    left: 47%;
    .cdk-overlay-connected-position-bounding-box {
      top: 32%;
      left: 60%;
      .cdk-overlay-pane.mat-datepicker-popup {
        top: 0;
      }
    }
  }
  

  max-height: fit-content;
  font-size: 1.5rem;
  margin: 1% auto;
  max-width: 1000px;
  background-color: $color;
  color: $text-color;
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
}

// .button__add {
//   color: $color;
//   background-color: $text-color;
//   width: 6rem;
//   height: 6rem;
//   margin: 0px 43% 53px;
//   text-align: center;
//   font-size: 5rem;
// }

.class__invalid {
  color: red;
}
