$text-color: rgb(255, 255, 255);
$active-color: rgb(255, 140, 0);;
$color: rgb(0, 0, 0);;
$main-color: rgb(255, 255, 255);
$gray: rgb(128, 128, 128);
$gray-dark: rgba(55, 55, 55, 0.9);
$loader-background: rgba(0, 0, 0, 0.65);
$green: rgba(0, 125, 0, 0.8);
$red: rgba(200, 0, 0, 0.8);
$table-header: rgb(27, 52, 71);
$button-active: rgb(104, 104, 104);
$main: rgb(128, 128, 128);
$wheat: rgb(245, 222, 179);