<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1 class="">
    {{ title }}
  </h1>
</div> -->
<section class="wrapper">
  
  <header class="header">
    <div class="header__logo"></div>
    <h1 class="header__name">{{ title }}</h1>
  </header>

  <nav class="navigation">
    <a class="navigation__item">Students</a>
    <a class="navigation__item">Subject</a>
    <a class="navigation__item">Statistics</a>
    <a class="navigation__item">Export</a>
  </nav>

</section>

<!-- <router-outlet></router-outlet> -->
