@import "../../styles/variables.scss";

.wrapper {
  margin: auto;
  max-width: 1000px;
  background-color: $color;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  height: 100%;
}
