@import "../../styles/variables.scss";

.wrapper {
  max-width: 1000px;
  margin: auto;

  background-color: $color;
}

.container {
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
}
