@import "../../../../styles/variables.scss";

.wrapper {
  max-width: 1000px;

  .students__cell {
    text-align: center;
    border: solid 2px;
    background-color: $color;
    padding: 7px;
  }

  .students__table {
    background-color: $text-color;
  }

  .students__cell.header {
    background-color: #1c3549;
    padding: 20px;
  }
}

.button__add {
  color: $color;
  background-color: $text-color;
  width: 6rem;
  height: 6rem;
  margin: 53px 45%;
  text-align: center;
  font-size: 5rem;
  border-radius: 50%;
}
