@import "../../../../styles/variables.scss";

.wrapper {
  max-width: 62.5rem;
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $white;

    border-color: $white;
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $white;
  }

  ::ng-deep .mat-input-element {
    display: flex;

    caret-color: $white;
  }

  ::ng-deep .mat-form-field-infix {
    width: 12.5rem;
  }

  ::ng-deep .mat-form-field {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.625‬‬rem;
  }

  .students__list {
    .students__list-table-container {
      max-height: 24rem;
      overflow: scroll;
      &::-webkit-scrollbar {
        width: 1.5625rem;
        height: 1.5625rem;
      }

      & ::-webkit-scrollbar-button {
        display: none;
      }

      &::-webkit-scrollbar-track {
        width: 3.125‬rem;
        height: 3.125‬rem;
      }

      &::-webkit-scrollbar-thumb {
        height: 0.75rem;

        background-color: $scrollbar-thumb;
        border: 7px solid $black;
      }

      &::-webkit-scrollbar-corner {
        display: none;
      }

      .students__list-table {
        min-width: 100%;

        table-layout: fixed;
        font-size: 1rem;

        background-color: $white;

        .students__list-table-cell {
          padding: 0.625rem;

          text-align: center;

          background-color: $black;
          border: solid 0.125rem;
          &.header {
            position: sticky;
            top: 0;
            z-index: 5;

            padding: 1.25rem;

            font-weight: 400;
            font-size: 1rem;

            background-color: $table-header;
            cursor: pointer;
            &.active {
              span {
                visibility: visible;
              }
            }
          }
        }

        .students__list-table-cell-container {
          display: flex;
          justify-content: center;
          .students__list-table-cell-revers {
            margin-top: -30.1875‬rem;
            margin-left: 0.4375‬rem;
          }
        }
        span {
          visibility: hidden;
        }
      }
    }
  }

  .students__list-add-new-item {
    width: 6rem;
    height: 6rem;
    margin: 2.7rem 46%;

    font-size: 5rem;
    text-align: center;
    color: $black;

    background-color: $white;
    border-radius: 50%;
  }
}
