@import "../../../styles/variables.scss";

html body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.loader {
  position: absolute;
  z-index: 9;

  display: flex;
  justify-content: center;
  width: 55rem;
  height: 100%;

  background-color: $loader-background;
}

.app-loading {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.app-loading {
  .logo {
    position: absolute;
  }
  .spinner {
    position: static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 200px;
    height: 200px;
    margin: auto;

    transform-origin: center center;

    animation: rotate 2s linear infinite;
  }
}
.app-loading {
  .spinner {
    .path {
      animation: dash 1.5s ease-in-out infinite;

      stroke: #dddddd;
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      stroke-linecap: round;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
