@import "../../../../styles/variables.scss";

.subject-page {
  font-size: 1rem;

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
  }

  ::ng-deep .mat-form-field-infix {
    border-top: 0;
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding: 0;
  }

  ::ng-deep .mat-input-element {
    caret-color: $text-color;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  ::ng-deep .mat-input-element :last-child {
    margin-left: 15%;
    padding: 5%;

    font-size: 3rem;

    border: 3px solide;
  }

  .subject-page__date-button-add-new-date {
    width: 2.1rem;
    height: 2.1rem;
    margin: 0 0 1% 55%;

    font-size: 1.9rem;

    background-color: $active-color;
    ::ng-deep span {
      padding: 0;
    }
  }
  .subjects__list-text {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 9%;

    font-weight: 400;
    font-size: 2rem;
  }

  .subject-page__date {
    display: flex;
    ::ng-deep .mat-form-field-infix {
      border-top: 0;
      visibility: hidden;
    }
  }

  .subject-page__form-table-container {
    max-height: 22rem;
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 25px;
      height: 25px;
    }

    & ::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-track {
      width: 50px;
      height: 50px;
    }

    &::-webkit-scrollbar-thumb {
      height: 12px;

      background-color: #474747;
      border: 7px solid black;
    }

    &::-webkit-scrollbar-corner {
      display: none;
    }
    .subject-page__form-table {
      width: 100%;

      background-color: $text-color;
      span {
        visibility: hidden;
      }
      .subject-page__form-table-cell {
        padding: 7px;

        text-align: center;

        background-color: $color;
        border: solid 2px;
        &.header {
          position: sticky;
          top: 0;
          z-index: 5;

          padding: 10px;

          font-weight: 200;
          font-size: 1rem;

          background-color: #1c3549;
          &.date {
            cursor: pointer;
          }
        }
        .subject-page__form-table-cell-input {
          width: 65px;
          &.date {
            .mat-input-element {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .fix {
    position: sticky;
    z-index: 1;

    width: 10%;
  }

  .subject-page__form-info {
    height: 100%;
    margin: 3rem 0;
    .subject-page__form-info-theacher {
      display: flex;
      align-items: center;
      margin: 0 0 8% 9%;
      .subject-page__form-info-theacher-label {
        font-size: 2rem;
        vertical-align: middle;
      }
      .subject-page__form-info-theacher-name {
        width: 50%;
        margin-left: 5%;
        padding: 1%;

        font-size: 2rem;
        color: $text-color;

        background-color: $color;
        border: 5px solid grey;
      }
    }

    .subject-page__form-info-buttons {
      display: flex;
      justify-content: center;
      margin-bottom: 5rem;
      .item {
        width: 20%;
        margin: 0 2%;
        padding: 1%;

        font-size: 1.5rem;
        color: $active-color;

        background-color: gray;
      }
    }
  }
}
