<section class="wrapper">
    <ng-content></ng-content>
  <section class="subject_date">
    <mat-form-field class="subject__date__wraper">
      <input
        matInput
        class="date"
        [matDatepicker]="picker"
        [(ngModel)] = "newDate"
        (ngModelChange) = "onAddDate($event)"
      />
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button
      class="button__add__new-date"
      mat-fab
      color="warn"
      (click)="picker.open()"
    >
      &#10010;
    </button>
  </section>
  <section class="subject__form">
    <table class="subject__table" cellspacing="2">
      <thead>
        <tr>
          <th
            class="subject__cell header"
            *ngFor="let columnName of headerNameStudents"
          >
            {{ columnName | uppercase }}
          </th>
          <th
            class="subject__cell header"
            *ngFor="let nameDate of headerNameDate; index as idx"
          >
            <mat-form-field class="subject__table__cell__width">
              <input
                matInput
                type="text"
                autocomplete="off"
                [ngModel]="nameDate"
                (ngModelChange)="modelChanged($event, 0, idx, true)"
              />
            </mat-form-field>
          </th>
        </tr>
      </thead>
      <tr *ngFor="let result of resultsTableSubject; index as idxStudent">
        <td class="subject__cell">{{ result.name }}</td>
        <td class="subject__cell">{{ result.lastName }}</td>
        <td class="subject__cell">{{ result.averageMark }}</td>
        <td
          class="subject__cell"
          *ngFor="let mark of result.marks; index as idxMarks"
        >
          <mat-form-field class="subject__table__cell__width">
            <input
              matInput
              type="number"
              autocomplete="off"
              [ngModel]="resultsTableSubject[idxStudent].marks[idxMarks]"
              (ngModelChange)="
                modelChanged($event, idxStudent, idxMarks, false)
              "
            />
          </mat-form-field>
        </td>
      </tr>
    </table>
  </section>
  <section class="subject__theacher">
    <div class="subject__theacher_container">
      <label for="theacher">Teacher:</label>

      <input
        id="theacher"
        type="text"
        autocomplete="off"
        [(ngModel)]="subject.teacher"
      />
    </div>
    <div class="subject__form__button">
      <button mat-stroked-button type="button" (click)="onSave()">Save</button>
      <button mat-stroked-button type="button" (click)="onCancel()">Back</button>
    </div>
  </section>
</section>
